<div class="container">
    <p class="dialog-title">Slektujte simptome koji se javljaju na vašoj biljci</p>
    <div class="options-container">
        <span *ngFor="let simptiom of data['sve_opcije']" style="width: 50%;">
            <mat-checkbox type="checkbox" id="simptiom.id" 
                (change)="handleSelect(simptiom.id)"
                
                color="warn"
                [checked]="data.odabrane_opcije.includes(simptiom.id)">
                {{simptiom.opis}}
            </mat-checkbox>
            <!-- <label class="option-text" htmlFor="simptiom.id">{{simptiom.opis}}</label> -->
        </span>
    </div>
    <button class="done-button" (click)="handleClose()">Gotovo</button>
</div>
