@import 'src/app/style/styles';

.full-height {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    min-width: 700px;
    min-height: 550px;
    overflow: hidden;
  }
  .page{
    width: 100%;
    height: 100%;
    background-color: $background_color;
  }
  