$dark_green: #40513B;
$light_green: #E9EDC9;
$middle_green_hover: #A4B69F;
$middle_green: #B7CDB1;
$light_orange: #FAC5A6;
$dark_orange: #E78761;
$background_color: #FEFCF7;
$error_color: #E17042;
$label_green: #8B987B;
$font: 'Segoe UI';
