@import '@angular/material/theming';
@include mat-core();

@mixin greenButton {
    font-size: 18px;
    background: $middle_green;
    color: $dark_green;
    min-width: max-content;
    cursor: pointer;
    min-width: 60px;
    padding: 2% 7%;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

@mixin inputField{
    font-size: medium;
    width: -webkit-fill-available;
    padding: 2%;
    height: 3vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 200px;
    min-height: 30px;
    background-color: $background_color;
}