@import '@angular/material/theming';
@include mat-core();

// Based on the Angular Material purple-green prebuilt theme. 
// Pick differnet colors and/or switch to a light background theme here:
$primary: mat-palette($mat-green, 700);
$accent:  mat-palette($mat-green, A200, A100, A400);
$theme: mat-dark-theme($primary, $accent);

@mixin calendar-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
}

@include calendar-theme($theme);

@mixin greenButton {
    font-size: 18px;
    background: $middle_green;
    color: $dark_green;
    min-width: max-content;
    cursor: pointer;
    min-width: 60px;
    padding: 2% 7%;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

@mixin inputField{
    font-size: medium;
    width: -webkit-fill-available;
    padding: 2%;
    height: 3vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 200px;
    min-height: 30px;
    background-color: $background_color;
}