@mixin greenButton {
    font-size: 18px;
    background: $middle_green;
    color: $dark_green;
    width: max-content;
    cursor: pointer;
    min-width: 60px;
    padding: 2% 7%;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}