@import "constants";
@import "./mixin.scss";

.title{
  font-family: $font;
  color: $dark_green;
  font-size: 6vh;
  font-weight: lighter;
  margin-bottom: auto;
}

.input-field{
  border: solid thin $middle_green;
  border-radius: 10px;
  background-color: transparent;
  font-size: medium;
  width: -webkit-fill-available;
  padding: 2%;
  height: 3vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 200px;
  min-height: 30px;
  background-color: $background_color;
}

.input-field:focus{
  border: solid 1px $light_orange;
  outline: none;
}

.input-label{
  color: $label_green;
  font-weight: lighter;
  font-size: 16px;
  padding-left: 1%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}