@import 'src/app/style/styles';

.card-container{
    width: 20vw; 
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI";
    background-color: #F4F7EF;
    border-radius: 10px;
    
    margin-left: 6%;
    width: 300px;
    margin-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 5%;
    position: relative;


    .header{
        display: flex;
        flex-direction: row;
        border-bottom: solid thin #B9C1BB;
        opacity: 1; 
        justify-content: center;
        align-items: center;
        box-shadow:  0px 10px 10px -15px #111;
       
        .icon{
            width: 60px;
            height: 60px;
        }

        .type{
            color: $dark_orange;
            font-size: medium;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            padding-top: 2%;
            font-weight: lighter;
        }
    }

    .description{
        padding: 3%;
        font-weight: lighter;
        opacity: 1; 
        padding: 2%;

        .key{
            color: '#7E8A80';
            font-size: medium;
            height: auto;
        }

        .value{            
            font-size: medium;
            padding-left: 5%;
            color: $dark-green;
            height: auto;
        }
    }
}

.immage-container{
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: #D3DCD5;
    border: solid 2px $dark-green-hover;
    box-shadow: 0 3px 9px -1px lightslategray;
}

.image-header{
    background-color: $middle-green;
    /* width: 100px; */
    height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 3px 9px -1px lightslategray;
}