<div class="card-container" >
    <div class="image-header">
        
    </div>
    <div class="immage-container" [style.background-image]="'url(' + imageSource + ')'"></div>
    <div style="padding: 3%;">
        <div class="header">
            <p class="type">{{plant.nazivTipa.toUpperCase()}}</p>
        </div>
        <table class="description">
            <tr  *ngFor="let key of Object.keys(plantDescription)">
                <td class="key">{{key}}:</td>
                <td  class="value">{{plantDescription[key]}}</td>
            </tr>
        </table>
    </div>
    
    
</div>
