@import 'src/app/style/styles';
// @import '@angular/material/theming';    
// @include mat-core();    
// $datepicker-primary: mat-palette($mat-red);
// $ddatepicker-accent:  mat-palette($mat-pink, A200, A100, A400);
// $datepicker-theme:   mat-light-theme($datepicker-primary, $datepicker-accent);
.title{
    color: $dark-orange;
    font-size: x-large;
    padding-left: 3%;
}

.note{
    color: $dark-green;
    font-size: smaller;
    padding-left: 3%;
}

.plant-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    font-family: $font;



    .fields-container{
        justify-self: center;
        width: 50%;
    }
    
    .input-container{
        display: flex;
        flex-direction: column;
    }

    .calendar-container{
        // width: 15vw;
        display: flex;
        flex-direction: row;

        .calendar-icon{
            border-bottom: solid thin $middle_green
        }
    }

    .input{
        @include inputField();
        border: none;
        border-bottom: solid thin $middle_green;
        box-shadow: none;
        height: auto;
    }

    .input:focus{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .input-label{
        padding-right: 10%;
        margin-top: 0;
    }

    select{
        background-color: transparent;
    }


    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        .submit-button{
            @include greenButton();
            font-size: medium;
            padding: 1.5% 3%;
        }
    }
}