<p class="title">Dodavanje biljke</p>
<p class="note">Dodajte novu biljku i opcino unesite njene ukoliko već postoje</p>
<form class="plant-form" [formGroup]="plantForm">
    <div class="fields-container">
        <div class="input-container">
            <app-select-dropdown [options]="Object.values(KategorijaBiljke)" 
                                defaultOption="Odaberite kategoriju..."
                                [selectOptionControl]="this.plantForm.controls.category"
                                (newSelectEvent)="handleChangeCategory($event)"></app-select-dropdown>
            <p class="input-label">Kategorija</p>
        </div>
        <div class="input-container">
            <app-select-dropdown [options]="Object.values(vrste)" 
                                    defaultOption="Odaberite vrstu..."
                                    [selectOptionControl]="this.plantForm.controls.subcatergory"></app-select-dropdown>
            <p class="input-label">Vrsta</p>
        </div>
        <div class="input-container">
            <div class="calendar-container">
                <input class="input" formControlName="plantingDate" [matDatepicker]="dp" [max]="maxDate" required>
                <mat-datepicker-toggle class="calendar-icon" matIconSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp color="warn" ></mat-datepicker>
            </div>
            <p class="input-label">Datum sadnje</p>
        </div>
        <div class="input-container">
            <app-select-dropdown [options]="Object.values(FazaBiljke)" 
                                defaultOption="Odaberite fazu" 
                                [selectOptionControl]="this.plantForm.controls.currentPhase"></app-select-dropdown>
            <p class="input-label">Trenutna faza:</p>
        </div>
        <div class="button-container"> 
            <button class="submit-button">Nastavi sa unosom simptoma</button>
            <button class="submit-button">Sačuvaj i završi</button>
        </div>
    </div>
</form>
