<div class="container">
    <p class="title">Istorija bolesti</p>
    <p class="subtitle">Uz mogućnost ocenjivanja preparata</p>
    <div style="max-height: 60%; overflow: auto; min-width: 90%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; margin-top: 2%;" >
        <table>
            <thead>
                <tr>
                    <th>BOLEST</th>
                    <th>ID BILJKE</th>
                    <th>TIP BILJKE</th>
                    <th>FAZA</th>
                    <th>PREPARAT</th>
                    <th>DOZA</th>
                    <th>DATUM</th>
                    <th>NAPOMENA</th>
                    <th>OCENJIVANJE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dijagnoza of dijagnoze">
                    <td>{{dijagnoza.nazivBolesti}}</td>
                    <td>{{dijagnoza.idBiljke}}</td>
                    <td>{{dijagnoza.nazivtipaBiljke}}</td>
                    <td>{{dijagnoza.fazaBiljke}}</td>
                    <td>{{dijagnoza.nazivPreparata}}</td>
                    <td>{{dijagnoza.doza}}</td>
                    <td>{{dijagnoza.datumPreporuke}}</td>
                    <td>{{dijagnoza.poruka}}</td>
                    <td>
                        <button class="rate-button">oceni preparat</button>
                    </td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>
