<div class="container">
    <div style="display: flex; flex-direction: row; width: 90%;">
        <div  style="   display: flex;
                        flex-direction: column;
                        flex-grow: 4;
                        max-width: 30vw;">
            <p class="title">Istorija bolesti</p>
            <label class="subtitle">Mogućnost ocenjivanja preparata korišćenih u posldnjih 2 meseca</label>
        </div>
        <div style="display: flex;
                    flex-direction: row;
                    flex-grow: 7;
                    max-width: 60vw;">
            <form [formGroup]="searchForm" class="form">
                
                <div class="input-container"> 
                    <input class="id-input" type="number" placeholder="Identifikator biljke" formControlName="plantId"
                        [style.color]="(this.searchForm.controls.plantId &&  this.searchForm.controls.plantId.value)? '#40513B' : '#A4B69F'"
                        [style.fontSize]="(this.searchForm.controls.plantId &&  this.searchForm.controls.plantId.value)? 'large' : 'medium'"/>
                </div>
                <div class="input-container">
                    <input class="id-input" type="type" placeholder="Naziv bolesti" formControlName="nazivBolesti"
                    [style.color]="(this.searchForm.controls.nazivBolesti &&  this.searchForm.controls.nazivBolesti.value)? '#40513B' : '#A4B69F'"
                    [style.fontSize]="(this.searchForm.controls.nazivBolesti &&  this.searchForm.controls.nazivBolesti.value)? 'large' : 'medium'"/>
                </div>
                <app-select-dropdown [options]="Object.values(vrste)" 
                                                defaultOption="Odaberite vrstu..."
                                                [selectOptionControl]="this.searchForm.controls.tipBiljke"
                                                class="input-container"></app-select-dropdown>

                <button class="search-button" (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
                <button class="search-button" (click)="reset()" style="margin-left: 3%;">
                    <mat-icon>autorenew</mat-icon>
                </button>
            </form>
        </div>

    </div>
    
    
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th *ngIf="loggedRole === 'DOKTOR'">VLASNIK</th>
                    <th>BOLEST</th>
                    <th>ID BILJKE</th>
                    <th>TIP BILJKE</th>
                    <th>FAZA</th>
                    <th>PREPARAT</th>
                    <th>OCENA PREPARATA</th>
                    <th>DOZA</th>
                    <th>DATUM</th>
                    <th>NAPOMENA</th>
                    <th>OCENJIVANJE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dijagnoza of dijagnoze">
                    <td *ngIf="loggedRole === 'DOKTOR'">{{dijagnoza.vlasnik}}</td>
                    <td>{{dijagnoza.nazivBolesti}}</td>
                    <td>{{dijagnoza.idBiljke}}</td>
                    <td>{{dijagnoza.nazivtipaBiljke}}</td>
                    <td>{{dijagnoza.fazaBiljke}}</td>
                    <td>{{dijagnoza.nazivPreparata}}</td>
                    <td class="rate"> {{dijagnoza.ocenaPreparata| number : '.2-2'}}
                        <mat-icon class="icon-star">star 
                        </mat-icon> 
                    </td>
                    <td>{{dijagnoza.doza}}</td>
                    <td>{{dijagnoza.strDate}}</td>
                    <td class="note" (click)="showTooltip(dijagnoza)">
                        {{dijagnoza.poruka}}
                        <div class="tooltip" *ngIf="!hiddenTooltip && (tooltioToShow == dijagnoza.id)">
                            {{dijagnoza.poruka}}
                        </div>
                    </td>
                    <td *ngIf="isWithinTwoMonths(dijagnoza.datumPreporuke)">
                        <button class="rate-button" (click)="openRateDialog(dijagnoza)">oceni preparat</button>
                    </td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>
