@import "src/app//style/styles";

.header_container {
  background-color: $dark_green;
  display: flex;
  max-lines: min-content;
  flex-direction: row;
  min-height: 70px;
}

.home {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.logo {
  padding: 5px;
  height: 50px;

}

.app_name {
  font-family: $font;
  font-size: 30px;
  font-weight: 100;
  color: $dark_orange;
  min-width: max-content;
  font-style: oblique;
  margin-top: auto;
  margin-bottom: auto
}
