@import 'src/app/style/styles';

:host {  
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.home-page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttons-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.home-page-button{
  margin: 5%;
  font-family: $font;
  @include greenButton();
  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.container{
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  animation-duration: 5s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromLeft, fadeInAnimation; /* the name of the animation we defined above */
}


.subtitle{
  font-family: $font;
  color: $middle_green;
  font-size: 2.5vh;
  font-style: oblique;
  font-weight: lighter;
}


