<div class="report-page-container">
    <div class="header-container">
        <div style="width: 90%;">
            <p class="title">Profil</p>
        </div>    
        <div class="option-button">
            <div style="padding-bottom: 8%;">Email: </div>
            <label class="subtitle">{{logged.username}}</label>
        </div>
        <div class="option-button">
            <div style="padding-bottom: 8%;">Ime: </div>
            <label class="subtitle">{{logged.firstName}}</label>
        </div>
        <div class="option-button">
            <div style="padding-bottom: 8%;">Prezime: </div>
            <label class="subtitle">{{logged.lastName}}</label>
        </div>
        <div class="option-button">
            <div style="padding-bottom: 8%;">Status: </div>
            <label class="subtitle">{{logged.role}}</label>
        </div>
    </div>
    
</div>
